.swiper.arrivals-swiper
    .swiper-wrapper 
        .swiper-slide 
            +product-card("01", "Skullcandy - Crusher anc 2 wireless headphones", "$299.99", "New")
        .swiper-slide 
            +product-card("02", "Beats Studio Pro", "$349.99", "New")
        .swiper-slide 
            +product-card("03", "Sony - WH-CH720N Wireless Noise Canceling", "$149.99", "New")
        .swiper-slide 
            +product-card("04", "Skullcandy - Rail True Wireless Earbuds", "$79.99", "New")
        .swiper-slide 
            +product-card("05", "Beats Studio Pro", "$224.99", "New")
        .swiper-slide 
            +product-card("06", "Skullcandy - Crusher anc 2 wireless headphones", "$299.99", "New")
        .swiper-slide 
            +product-card("07", "Beats Studio Pro", "$349.99", "New")
        .swiper-slide 
            +product-card("08", "Sony - WH-CH720N Wireless Noise Canceling", "$149.99", "New")
        .swiper-slide 
            +product-card("01", "Skullcandy - Rail True Wireless Earbuds", "$79.99", "New")
        .swiper-slide 
            +product-card("02", "Beats Studio Pro", "$224.99", "New")