// ==== timer ====
.timer 
    .timer__item
        .timer__item-value 02 
        .timer__item-desc Days
    .timer__item
        .timer__item-value 12 
        .timer__item-desc Hours
    .timer__item
        .timer__item-value 45 
        .timer__item-desc Minutes
    .timer__item
        .timer__item-value 05 
        .timer__item-desc Seconds 