section.arrivals 
    .container
        .arrivals__row
            .arrivals__title
                h2.section-title New Arrivals
            .arrivals__dots
                .swiper-pagination
        .container-right
            .arrivals__slider 
                include ../blocks/arrivals-swiper.pug