section.bestseller 
    .container
        .bestseller__title 
            h2.section-title Best Seller
        .bestseller__cards 
            +product-card("01", "Skullcandy - Crusher anc 2 wireless headphones", "$299.99")
            +product-card("02", "Beats Studio Pro", "$349.99")
            +product-card("03", "Sony - WH-CH720N Wireless Noise Canceling", "$149.99")
            +product-card("04", "Skullcandy - Rail True Wireless Earbuds", "$79.99")
            +product-card("05", "Beats Studio Pro", "$224.99")
            +product-card("01", "Skullcandy - Crusher anc 2 wireless headphones", "$299.99")
            +product-card("02", "Beats Studio Pro", "$349.99")