section.bestseller 
    .container
        .bestseller__title 
            h2.section-title Best Seller
        .bestseller__cards 
            +product-card("01", "Sony - WH-1000XM5 Wireless Noise Canceling", "$299.99", "Hot")
            +product-card("02", "Beats Studio Pro", "$349.99", "Hot")
            +product-card("03", "Sony - WH-CH720N Wireless Noise Canceling", "$149.99", "Hot")
            +product-card("04", "Skullcandy - Rail True Wireless Earbuds", "$79.99", "Hot")
            +product-card("05", "Beats Studio Pro", "$224.99", "Hot")
            +product-card("06", "JBL Reflect Flow Pro+ Bluetooth Truly Wireless Sports", "$179.99", "Hot")
            +product-card("07", "Bose QuietComfort Headphones", "$349.99", "Hot")
            +product-card("08", "AKG Y600NC Wireless", "$349.99", "Hot")