section.collection 
    .container 
        .collection__title
            h2.section-title Shop Collection
        .collection__grid
            .collection-item.collection-item--xl.collection-item--01
                .collection-item__content
                    h3.collection-item__title Headband 
                    a(href="#!").collection-item__link Collection
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
            .collection-item.collection-item--02
                .collection-item__content
                    h3.collection-item__title Earbuds 
                    a(href="#!").collection-item__link Collection
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
            .collection-item.collection-item--03
                .collection-item__content
                    h3.collection-item__title Accessories 
                    a(href="#!").collection-item__link Collection
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")