section.collection 
    .container 
        .collection__title
            h2.section-title Shop Collection
        .collection__grid
            .collection-item.collection-item--xl
                .collection-item__content
                    h3.collection-item__title Headband 
                    a(href="#!").collection-item__link Collection
            .collection-item
                .collection-item__content
                    h3.collection-item__title Earbuds 
                    a(href="#!").collection-item__link Collection
            .collection-item
                .collection-item__content
                    h3.collection-item__title Accessories 
                    a(href="#!").collection-item__link Collection