section.collection 
    .container 
        .collection__title
            h2.section-title Shop Collection
        .collection__grid
            .collection-item.collection-item--xl
                h3.collection-item__title
            .collection-item 
            .collection-item