footer.footer 
    .container 
        .footer__row.footer__row-top 
            .footer__title 
                .footer__logo 3legant#[span .]
                .footer__separator 
                .footer__store Headphone Store
            ul.footer__nav 
                li 
                    a(href="#!") Home
                li 
                    a(href="#!") Shop
                li 
                    a(href="#!") Product
                li 
                    a(href="#!") Blog
                li 
                    a(href="#!") Contact Us 
        .footer__row.footer__row--border 
            .footer__copyright 
                p Copyright &copy; 2024 3legant. All rights reserved
                a(href="#!") Privacy Policy
                a(href="#!") Terms of Use 
            .footer__socials 
                a(href="#!").footer__socials-item
                    svg.svg-insta
                        use(href="./img/spriteSvg.svg#svg-insta")
                a(href="#!").footer__socials-item
                    svg.svg-fb
                        use(href="./img/spriteSvg.svg#svg-fb")
                a(href="#!").footer__socials-item
                    svg.svg-youtube
                        use(href="./img/spriteSvg.svg#svg-youtube")  
