section.hero 
    .hero-container 
        .hero-content
            h1.hero__title Listen to the&nbsp;#[span amazing] music sound.
            .hero__desc 
                p Experience music like never before
            .hero__link 
                a(href="#!").btn Shopping Now
