section.promotion 
    .promotion__container 
        .promotion__content
            .promotion__desc
                p.promotion__tagline Promotion
                h2.promotion__title Hurry up! 40%&nbsp;OFF
                .promotion__text
                    p Thousands of high tech are waiting for you
            .promotion__timer 
                p.promotion__expires Offer expires in:
                include ../blocks/timer.pug
          
            .promotion__btn
                a(href="#!").btn.btn--small Shop now