section.promotion 
    .container 
        .promotion__content
            p.promotion__tagline Promotion
            h2.promotion__title Hurry up! 40% OFF
            .promotion__desc
                p Thousands of high tech are waiting for you
            p.promotion__expires Offer expires in:
            .promotion__timer TIMER
            .promotion__btn
                a(href="#!").btn Shop now