section.tagline
   .tagline__icon
      svg.svg-percent
         use(href="./img/spriteSvg.svg#svg-percent")
   .tagline__desc 30% off storewide — Limited time! 
   a(href="#!").tagline__link Shop Now
      svg.svg-arrow-right
         use(href="./img/spriteSvg.svg#svg-arrow-right")
   button.tagline__close
      svg.svg-close
         use(href="./img/spriteSvg.svg#svg-close")
				
   
