section.values 
    .container 
        .values__row
            .value 
                .values__img
                    svg.svg-shipping
                        use(href="./img/spriteSvg.svg#svg-shipping")  
                .values__title Free Shipping
                .values__desc Order above $200
            .value 
                .values__img
                    svg.svg-finance
                        use(href="./img/spriteSvg.svg#svg-finance")  
                .values__title Free Shipping
                .values__desc Order above $200
            .value 
                .values__img
                    svg.svg-lock
                        use(href="./img/spriteSvg.svg#svg-lock")  
                .values__title Free Shipping
                .values__desc Order above $200
            .value 
                .values__img
                    svg.svg-phone
                        use(href="./img/spriteSvg.svg#svg-phone")  
                .values__title Free Shipping
                .values__desc Order above $200