section.values 
    .container 
        .values__row
            +value-item("Free Shipping", "Order above $200", "shipping")
            +value-item("Money-back", "30 days guarantee", "finance")
            +value-item("Secure Payments", "Secured by Stripe", "lock")
            +value-item("24/7 Support", "Phone and Email support", "phone")