section.values 
    .container 
        .values__row
            .value 
                .values__img
                    svg.svg-shipping
                        use(href="./img/spriteSvg.svg#svg-shipping")  
                .values__title Free Shipping
                .values__desc Order above $200