:root {
	--container-width: 1106px;
	--container-padding: 15px;

	--font-main: "Inter", sans-serif;
	--font-accent: "Poppins", sans-serif;
	--font-nav: "Space Grotesk", sans-serif;

	--tagline-link: #FFAB00;

}