:root {
	--container-width: 1184px;
	--container-padding: 32px;

	--font-main: "Inter", sans-serif;
	--font-accent: "Poppins", sans-serif;
	--font-nav: "Space Grotesk", sans-serif;

	--laptop-size: 1199px;

	--tagline-link: #FFAB00;
	--black: #141718;

}