.card 
    .card__picture
        img(src="./img/arrivals/01.webp" alt="headphones")
        .card__label New
    .card__desc
        .card__rating 
        .card__title Skullcandy - Crusher anc 2 wireless headphones 
        .card__price $299.99