.card 
    .card__picture
        img(src="./img/arrivals/01.webp" alt="headphones")
        .card__label New
        .card_fav
            button.btn-fav
                svg.svg-heart
                    use(href="./img/spriteSvg.svg#svg-heart") 
        .card__btn
            button.btn.btn--small.btn--wide Add to cart
    .card__desc
        .card__rating
            svg.svg-star
                use(href="./img/spriteSvg.svg#svg-star") 
            svg.svg-star
                use(href="./img/spriteSvg.svg#svg-star") 
            svg.svg-star
                use(href="./img/spriteSvg.svg#svg-star") 
            svg.svg-star
                use(href="./img/spriteSvg.svg#svg-star") 
            svg.svg-star
                use(href="./img/spriteSvg.svg#svg-star") 
        .card__title Skullcandy - Crusher anc 2 wireless headphones 
        .card__price $299.99