mixin value-item(title, desc, svgClassName)
    // ==== value-item ====
    .value 
        .value__img
            svg(class="svg-" + svgClassName)
                use(href="./img/spriteSvg.svg#svg-" + svgClassName)  
        .value__title #{title}
        .value__desc #{desc}