mixin value-item 
    .value 
        .values__img
            svg.svg-shipping
                use(href="./img/spriteSvg.svg#svg-shipping")  
        .values__title #{title}
        .values__desc #{desc}