extends ../layouts/layout.pug

block variables
	-var title = "Elegant Store";

block content
	include ../sections/tagline.pug
	include ../sections/nav.pug
	//- include ../sections/hero.pug
	//- include ../sections/arrivals.pug
	//- include ../sections/collection.pug
	//- include ../sections/bestseller.pug
	include ../sections/promotion.pug
	include ../sections/values.pug
	include ../sections/newsletter.pug
	include ../sections/footer.pug

	
	
	

