extends ../layouts/layout.pug

block variables
	-var title = "Elegant Store";

block content
	include ../sections/tagline.pug
	include ../sections/nav.pug
	include ../sections/hero.pug

	
	
	

